@import "variables.scss";
// @import "columns.scss";


//RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $grey-light;
    font-family: $sans-font;
    color: $primary;
    font-size: 16px;
}

p {
    font-family: $serif-font;
    font-size: 1.5em;
}

section {
    padding: $section-padding;
}

a {
    color: $primary;
}

h1 {
    font-size: 3.75em;
    text-transform: uppercase;
}
h2 {
    font-size: 3.75em;
    text-transform: uppercase;
}

.page-header {
    background-color: $accent;
    color: $primary;
    padding: $section-padding;
    padding-top: 0;

    // background-image: url(../img/header_bg.jpg);
    // background-size: cover;
    // background-position: center;

    .header-container {
        display: flex;
        margin: 0 auto;
        width: $container-width;
        height: 500px;
        justify-content: space-between;
        padding-top: 1em;
    }

    .logo {
        height: 5em;
    }
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    text-align: end;

    ul {
        list-style: none;

        a {
            text-transform: uppercase;
            transition: all .1s ease-in;

            &:hover {
                color: lighten($color: $primary, $amount: 50);
            }
        }
    }

    .row-5 {
        flex: 5;
        margin: 0 auto;
    }

    .row-1 {
        flex: 1;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .arrow-down {
            height: 1.5em;
        }
    }

    .col-3 > .welcome {
        padding: 0;
    }
}

//FULLSTACK
.fullstack-container {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: $section-padding;

    article {
        width: $container-width;
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .frontend,
        .backend {
            background-color: $grey-light;
            border: 1px solid $grey-light;
            border-radius: 15px;
            padding: 1em;
            margin-top: 1.5em;
        }

        header {
            margin-bottom: 1em;
        }

        .frontend {
            margin-right: 1em;
        }

        .backend {
            margin-left: 1em;
        }
    }
}

//ABOUT ME
.about-container {
    width: $container-width;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: $section-padding;

     .about {
        .row {
            display: flex;

            .portrait {
                width: 15vw;
            }
        }
    }

    p {
        font-size: 26px;
        margin-bottom: 1em;
    }

    .cv {
        margin: 0 auto;
        width: 80%;
        height: 800px;
    }
}

.video {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 0 auto;
    // text-align: left;
    background-color: antiquewhite;

    iframe {
        width: 80%;
        // height: 720px;
        border: 0;
    }
}

//CONTACT
.contact-container {
    // background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, $primary 50%, darken($primary, 10) 100%);

    address {
        width: $container-width;
        padding: $section-padding;
        color: $accent;
        display: flex;
        flex-direction: column;
        font-style: normal;

        .contact-heading {
            color: $accent;
        }

        .row {
            display: flex;
            justify-content: space-between;
        }

        p {
            font-family: $sans-font;
            margin-top: 1em;
            font-size: 1.3em;
            letter-spacing: .01em;
        }

        a {
            color: $accent;
        }

        .social-media {
            display: flex;
            justify-content: flex-end;

            img {
                margin-left: 50px;
                height: 50px;
            }
        }
    }
}

// tablets
@media only screen and (max-width: 1000px) {

    .fullstack-container {
        article {
            .row {
                flex-direction: column;

                .frontend,
                .backend {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    [class*="col-"] {
        width: 100%;
    }

    .contact-container {
        address {
            .row {
                flex-direction: column;

                .social-media {
                    // margin-top: 1em;
                    justify-content: start;

                    img {
                        margin: 1em 1em 0 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 6px;

        h1 {
            font-size: 1.5em;
        }

        p {
            font-size: .7em;
        }
    }

    .page-header {

        .header-container {
            height: 80vh;
            flex-wrap: wrap;

            .col-3 {
                width: 50%;
            }

            .presentation {
                font-size: .5em;
            }
        }
    }

    nav {

        .row-5 {
            margin-right: 0;

            .menu {
                font-size: .8em;
            }
        }
    }

    .hide {
        display: none;
    }
}