@import "variables.scss";
// @import "columns.scss";


//RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $grey-light;
    font-family: $sans-font;
    color: $primary;
}

p {
    font-family: $serif-font;
    font-size: 1.5em;
}

// .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: $container-width;
//     margin: 0 auto;
// }

section {
    padding-bottom: $section-padding;
}

a {
    color: $primary;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}

.page-header {
    background-color: $accent;
    color: $primary;
    padding: $section-padding;
    padding-top: 0;

    // background-image: url(../img/header_bg.jpg);
    // background-size: cover;
    // background-position: center;

    .header-container {
        display: flex;
        margin: 0 auto;
        width: $container-width;
        height: 500px;
        justify-content: space-between;
        padding-top: 1em;

        // background-image: url(../img/header_bg.jpg);
        // background-size: cover;
        // background-position: center;
    }

    // .header-col {
    //     flex: 1;
    //     // background-color: #CCCCCC;
    //     margin: 1em;
    // }

    .logo {
        height: 5em;
    }
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    text-align: end;

    ul {
        list-style: none;

        a {
            text-transform: uppercase;
            letter-spacing: .001em;
            transition: all .1s ease-in;

            &:hover {
                letter-spacing: .03em;
                color: lighten($color: $primary, $amount: 20);
            }
        }
    }

    .row-5 {
        flex: 5;
        margin: 0 auto;
    }

    .row-1 {
        flex: 1;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .arrow-down {
            height: 1.5em;
        }
    }
}

//FULLSTACK

.fullstack-container {
    background-color: white;
    display: flex;
    justify-content: center;
    padding: $section-padding;

    article {
        width: $container-width;
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .frontend,
        .backend {
            background-color: $grey-light;
            border: 1px solid $grey-light;
            border-radius: 15px;
            padding: 1em;
            margin-top: 1.5em;
        }

        header {
            margin-bottom: 1em;
        }

        .frontend {
            margin-right: 1em;
        }

        .backend {
            margin-left: 1em;
        }
    }
}

//ABOUT ME
.about-container {
    width: $container-width;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: $section-padding;

    p {
        font-size: 26px;
        margin-bottom: 1em;
    }

    .cv {
        margin: 0 auto;
        width: 100%;
        height: 800px;
    }
}

//CONTACT
.contact-container {
    background-color: white;
    display: flex;
    justify-content: center;
    background-color: $primary;

    address {
        width: $container-width;
        padding: $section-padding;
        color: $accent;
        display: flex;
        flex-direction: column;
        font-style: normal;

        .row {
            display: flex;
            justify-content: space-between;
        }

        p {
            font-family: $sans-font;
            margin-top: 1em;
            font-size: 1.3em;
            letter-spacing: .01em;
        }

        a {
            color: $accent;
        }

        .social-media {
            display: flex;
            justify-content: flex-end;

            img {
                margin-left: 50px;
                height: 50px;
            }
        }
    }
}