.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33333%;
}

.col-4 {
  width: 25%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #CCCCCC;
  font-family: "Montserrat", sans-serif;
  color: #242814;
  font-size: 16px;
}

p {
  font-family: "Esteban", serif;
  font-size: 1.5em;
}

section {
  padding: 3em 0 3em 0;
}

a {
  color: #242814;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.page-header {
  background-color: #FFCB5B;
  color: #242814;
  padding: 3em 0 3em 0;
  padding-top: 0;
}

.page-header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 80%;
  height: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
}

.page-header .logo {
  height: 5em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
  text-align: end;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-transform: uppercase;
  letter-spacing: .001em;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

nav ul a:hover {
  letter-spacing: .03em;
  color: #616c36;
}

nav .row-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin: 0 auto;
}

nav .row-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .row-1 .arrow-down {
  height: 1.5em;
}

.fullstack-container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 0 3em 0;
}

.fullstack-container article {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullstack-container article .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullstack-container article .frontend,
.fullstack-container article .backend {
  background-color: #CCCCCC;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  padding: 1em;
  margin-top: 1.5em;
}

.fullstack-container article header {
  margin-bottom: 1em;
}

.fullstack-container article .frontend {
  margin-right: 1em;
}

.fullstack-container article .backend {
  margin-left: 1em;
}

.about-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 3em 0 3em 0;
}

.about-container .about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container .about .row .portrait {
  margin-top: -10em;
}

.about-container p {
  font-size: 26px;
  margin-bottom: 1em;
}

.about-container .cv {
  margin: 0 auto;
  width: 100%;
  height: 800px;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: antiquewhite;
}

.video iframe {
  width: 1280px;
  height: 720px;
}

.contact-container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #242814;
}

.contact-container address {
  width: 80%;
  padding: 3em 0 3em 0;
  color: #FFCB5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: normal;
}

.contact-container address .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container address p {
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;
  font-size: 1.3em;
  letter-spacing: .01em;
}

.contact-container address a {
  color: #FFCB5B;
}

.contact-container address .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-container address .social-media img {
  margin-left: 50px;
  height: 50px;
}

@media only screen and (max-width: 1000px) {
  .fullstack-container article .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fullstack-container article .row .frontend,
  .fullstack-container article .row .backend {
    margin-left: 0;
    margin-right: 0;
  }
  [class*="col-"] {
    width: 100%;
  }
  .contact-container address .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container address .row .social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .contact-container address .row .social-media img {
    margin: 1em 1em 0 0;
  }
}

@media only screen and (max-width: 800px) {
  body h1 {
    font-size: 1.8em;
  }
  .page-header .header-container {
    height: 15vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-header .header-container .col-3 {
    width: 50%;
  }
  .page-header .header-container .presentation {
    font-size: .5em;
  }
  nav .row-5 {
    margin-right: 0;
  }
  nav .row-5 .menu {
    font-size: .8em;
  }
  .hide {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */