@import 'variables.scss';

//RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $grey-light;
    font-family: $sans-font;
    color: $primary;
    font-size: 16px;
}

p {
    font-family: $serif-font;
    font-size: 1.5em;
}

section {
    padding: $section-padding;
}

a {
    color: $primary;
}

h1,
h2 {
    font-size: 3.75em;
    text-transform: uppercase;
}

h3 {
    font-size: 2.5em;
    text-transform: uppercase;
}

.hide {
    display: none;
}

.lead {
    font-family: $sans-font;
    font-weight: 600;
}

.page-header {
    background-color: $accent;
    color: $primary;
    padding: $section-padding;
    padding-top: 0;

    .header-container {
        display: flex;
        margin: 0 auto;
        width: $container-width;
        height: 50vh;
        justify-content: space-between;
        padding-top: 1em;
    }

    .logo {
        height: 5em;
    }
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    text-align: end;

    ul {
        list-style: none;

        a {
            text-transform: uppercase;
            transition: all 0.1s ease-in;

            &:hover {
                color: lighten($color: $primary, $amount: 50);
            }
        }
    }

    .row-5 {
        flex: 5;
        margin: 0 auto;
    }

    .row-1 {
        flex: 1;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}

.welcome {
    padding-top: 0;
}

//ABOUT ME
.about-container {
    width: $container-width;
    margin: 0 auto;
    padding: $section-padding;

    .about {
        .row {
            display: flex;
            align-items: center;
            padding: 0;

            .portrait {
                width: 40vw;
                margin-top: -30vh;
            }
        }
    }

    p {
        margin-bottom: 1em;
    }

    .pdf-container {
        display: flex;
        justify-content: center;
        min-width: 325px;
        border: 1px solid $primary;
    }

    embed {
        width: 100%;

        //håller a4-format
        height: calc((40vmax * 1.41401656));
        max-height: calc(400px * 1.41401656);
    }
}

//FULLSTACK
.fullstack-container {
    background-color: $accent;
    display: flex;
    justify-content: center;
    padding: $section-padding;

    article {
        width: $container-width;
        display: flex;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .frontend,
        .backend {
            background-color: white;
            border-radius: 15px;
            padding: 1em;
            margin-top: 1.5em;
        }

        header {
            margin-bottom: 1em;
        }

        .frontend {
            margin-right: 1em;
        }

        .backend {
            margin-left: 1em;
        }
    }
}

.video-section {
    width: $container-width;
    margin: 0 auto;

    .video-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
        /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

//CONTACT
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, $primary 50%, darken($primary, 10) 100%);

    .contact-heading {
        color: $accent;
        align-self: start;
        padding-left: 10%;
        margin-top: 5vh;
    }

    address {
        width: $container-width;
        padding-bottom: 4vh;
        color: $accent;
        display: flex;
        flex-direction: column;
        font-style: normal;

        .row {
            display: flex;
            justify-content: space-between;
        }

        p {
            font-family: $sans-font;
            margin-top: 1em;
            font-size: 1.3em;
            letter-spacing: 0.01em;
        }

        a {
            color: $accent;
        }

        .social-media {
            display: flex;
            justify-content: flex-end;

            img {
                margin-left: 50px;
                height: 3vw;
            }
        }
    }
}

// tablets
@media only screen and (max-width: 1000px) {
    h2 {
        font-size: 3em;
    }

    .fullstack-container {
        article {
            .row {
                flex-direction: column;

                .frontend,
                .backend {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    [class*='col-'] {
        width: 100%;
    }

    .contact-container {
        address {
            .row {
                display: flex;
                flex-direction: column;

                .social-media {
                    justify-content: start;

                    img {
                        margin: 1em 1em 0 0;
                        height: 3vh;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 1em;

        h1 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.8em;
        }
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    .page-header {
        .header-container {
            height: 50vh;
            flex-wrap: wrap;

            .col-3 {
                width: 50%;
            }
        }
    }

    nav {
        .row-5 {
            margin-right: 0;

            .nav-menu {
                font-size: 0.8em;
            }
        }
    }

    address {
        font-size: 0.8em;
    }
}